$nav-bar-bg: #243447;
$nav-bar-text-color: #fff;
$nav-bar-icon-color: #1DA1F2;
$tweet-bg: #1B2836;
$tweet-text-color: #fff;
$tweet-name-color: #fff;
$tweet-separator-color: #324554;
$twitter-summary-card-title-color: #fff;
$twitter-summary-card-text-color: #fff;
$quote-tweet-fullname-color: #fff;
$quote-tweet-text-color: #fff;
$twitter-card-container-border-color: #324554;