$dark-bg: #1B2836;
$light-bg: lighten(#1B2836, 10%);
$white: #fff;
$black: #000;
$text-grey: #8899a6;
$border-color-light: #324554;

$nav-bar-bg: #243447;
$nav-bar-text-color: $white;
$nav-bar-icon-color: #1DA1F2;
$tweet-bg: #1B2836;
$tweet-text-color: $white;
$tweet-name-color: $white;
$tweet-separator-color: #324554;
$twitter-summary-card-title-color: $white;
$twitter-summary-card-text-color: $white;
$quote-tweet-fullname-color: $white;
$quote-tweet-text-color: $white;
$twitter-card-container-border-color: #324554;
$dashboard-profile-card-content-bg: #1b2836;
$dashboard-profile-card-name-color: $white;
$dashboard-profile-card-avatar-border-color: #1b2836;
$profile-card-stats-color: $white;
$new-tweets-bar-bg: #243447;
$new-tweets-bar-text-color: $white;
$flex-module-bg: #1b2836;
$trends-bg: #1b2836;
$missing-tweets-bar-bg: #243447;
$link-color: #459BE6;
$darkgreyishblue: #3d5566;